<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= (typeof(title) !== 'undefined') ? title : 'Phonebook' %></title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0-alpha3/css/bootstrap.rtl.min.css" integrity="sha512-iZksgjsQDaw2Fo0JZV7pyEWhh01PoJYJZfAO5bR+/n7VutPw5KH3Wzq6Vjl7c1xqKypraI0oSl8IK/tDNYT7dQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    